doctype html
html(lang="" itemscope itemtype="http://schema.org/Article")
    include layout/head

    body(class='about-page')
        include layout/header

        div(class='main-content pb-5')
            div(class='container')
                h3(class='text-center mt-5 pt-5') FAQ

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is Crew Pond?] <br>
                    | A: Crew Pond is a platform that helps connect two parties together under their mutual working agreement.

                p(class='mt-4') #[span(class='font-weight-bold') Q: Is Crew Pond free?] <br>
                    | A: All users get to list themselves and make offers on jobs completely free. All users get 20 free job posts per month. It’s $5.50 for each additional connection after the 20 free job postings. Or a $22 monthly subscription which gives users unlimited job postings and access to the web portal.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is a Hirer?] <br>
                    | A: A person or organization that employs and/or engages people or an organization for services in exchange for payment.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is a Jobber?] <br>
                    | A: A person or organization that is hired for their services in exchange for payment.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is SOS?] <br>
                    | A: SOS is a shout-out for Jobbers to make a priority offer if a Hirer needs to hire someone fast. A $55 SOS charge will be applied to the Hirer per Jobber. The Jobber will receive a $30 SOS fee once the SOS job has been completed.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What does the “Private” function mean when creating a job?] <br>
                    | A: Making a job “private” will make it so that your posting is not seen by the public. From here, you can personally invite the Jobbers you want for that job.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is a Super User?] <br>
                    | A: Have unlimited postings with a monthly subscription of $22. This also gives users access to the web portal to complement their mobile apps.

                p(class='mt-4') #[span(class='font-weight-bold') Q: What is a Key Jobber?] <br>
                    | A: Stand out from the crowd and be one of the top-searched Jobbers for only $5.50 a month.

        include layout/footer
