doctype html
html(lang="" itemscope itemtype="http://schema.org/Article")
    include layout/head

    body(class='landing-page auth-page')
        section(class='header-section pt-4' id='header')
            div(class='section-auth login-page')
                a(href='/app/login' class='btn btn-transparent mr-2') Login
                a(href='/app/sign-up' class='btn btn-transparent mr-2') Create Account
            div(class='section-content')
                div(class='right-content')
                    div(class='logo')
                        img(src='/static/images/logo-white/logo.png' alt='')
                        h1 Crew Pond
                    h5 Crew Pond is now live within the creative industries! Events & Entertainment, Film, Television, Radio, Podcasting, Hospitality, and Catering.
                    h5 Welcome to Crew Pond - a powerful, innovative marketplace that gives real-time recruitment tools to employers and employees. No other online platform delivers as much speed, efficiency, and simplicity for human resources, staffing and employment.
                    div(class='downloads')
                        a(href='https://apps.apple.com/au/app/crew-pond/id1494073832' target='_blank')
                            img(src='/static/images/landing-page/app-store.png' alt='')
                        a(href='https://play.google.com/store/apps/details?id=com.zapstars.crewpond' target='_blank')
                            img(src='/static/images/landing-page/google-play.png' alt='')
                div(class='left-content')
                    img(src='/static/images/landing-page/mobile-app1.png' alt='')
            div(class='wave-bottom')
                img(src='/static/images/landing-page/wave-bottom.png' alt='')

        div(class='container-fluid')
            div(class='row')
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/download.svg' alt='')
                        div(class='title') Download App. Login to the web portal
                        div(class='detail') Our App is available for iOS and Android. Website login using Chrome.
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/edit.svg' alt='')
                        div(class='title') Advertise your position / post Your Job
                        div(class='detail') Create a 'public' job and allow candidates to apply for the work, or choose 'private' only invited candidates can apply.
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/users.svg' alt='')
                        div(class='title') Suitable for creatives and industries such as
                        div(class='detail') AV Technicians, Event Producers, Musicians, Hair & Make-up Artists, Film, Radio, Barristers, Set Builders and Visual Merchandisers, just to name a few.
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/briefcase.svg' alt='')
                        div(class='title') Looking for work?
                        div(class='detail') Register as a candidate to easily apply for jobs that interest you. Keep in touch with preferred employers.
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/check-rect.svg' alt='')
                        div(class='title') Accept a job or candidate
                        div(class='detail') Easily negotiate rates and employment conditions all within the platform. Accept the best offers through our ever-growing, competitive marketplace.
                div(class='col-sm-6 col-lg-4')
                    div(class='feature-block')
                        img(src='/static/images/landing-page/speech-bubble.svg' alt='')
                        div(class='title') Communicate freely!
                        div(class='detail') Crew Pond is the only app that provides a live chat feature between employers and employees. You can even share files and save contacts to keep in touch.

        section(class='footer-section')
            div(class='wave-top')
                img(src='/static/images/landing-page/wave-top.png' alt='')
            h5(class='text-center') Exclusive Features
            div(class='section-content')
                div(class='left-content')
                    div(class='feature-list')
                        div(class='feature-line')
                        div(class='feature')
                            div(class='detail') Innovative way to connect the employer and employee together.
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                        div(class='feature')
                            div(class='detail') Cost-effective platform, no finders fees or job percentages charged.
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                        div(class='feature')
                            div(class='detail') Upscale or downscale your workforce on demand.
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                        div(class='feature')
                            div(class='detail') Reach out for extra personnel on short notice.
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                    img(class='d-md-none' src='/static/images/landing-page/mobile-app3.png' alt='')
                div(class='center-content d-md-block d-none')
                    img(src='/static/images/landing-page/mobile-app2.png' alt='')
                div(class='right-content')
                    img(class='d-md-none' src='/static/images/landing-page/mobile-app4.png' alt='')
                    div(class='feature-list')
                        div(class='feature-line')
                        div(class='feature')
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                            div(class='detail') Direct schedule your full-time staff.
                        div(class='feature')
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                            div(class='detail') In-app group chat and file sharing.
                        div(class='feature')
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                            div(class='detail') Marketplace for employment.
                        div(class='feature')
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                            div(class='detail') Negotiate your rates in real time.
                        div(class='feature')
                            span
                                img(src='/static/images/landing-page/check-circle.svg' alt='')
                            div(class='detail') Be in control of your workload.
        include layout/footer

        script(src='/static/js/jquery-3.4.1.min.js')
        script(src='/static/js/particles.min.js')
        script(src='/static/js/toastr.min.js')
        script.
            const urlParams = new URLSearchParams(window.location.search);
            const successCode = urlParams.get('successCode');
            const errorCode = urlParams.get('errorCode');

            if (window.location.href.indexOf("successCode") != -1) {
                const now = new Date().valueOf();
                setTimeout(function () {
                    if (new Date().valueOf() - now > 100) return;
                    window.location = "https://www.crewpond.com/";
                }, 25);
                window.location = "crewpond://account_verified";
            }

            if (successCode === '0') {
                toastr.success('Your account has been verified successfully.', 'Success');
            } else if (successCode === '1') {
                toastr.success('Password has been updated successfully.', 'Success');
            }
            if (errorCode === '0') {
                toastr.error('Oops, Something went wrong!!!', 'Error');
            } else if (errorCode === '3' || errorCode === '10') {
                toastr.error('Invalid information was provided.', 'Error');
            } else if (errorCode === '4') {
                toastr.error('Your request was expired. Password reset request should be done in 10 minutes.', 'Error');
            } else if (errorCode === '20') {
                toastr.error('Your account is not confirmed. Please check your email or junk to confirm your account.', 'Error');
            } else if (errorCode === '21') {
                toastr.error('Your account was closed. Please contact support for more assistance.', 'Error');
            } else if (errorCode === '22') {
                toastr.error('Your account was suspended. Please contact support for more assistance.', 'Error');
            } else if (errorCode === '23') {
                toastr.error('Your account was deleted. Please contact support for more assistance.', 'Error');
            }
            particlesJS("header", {
                "particles": {
                    "number": {
                        "value": 100
                    },
                    "color": {
                        "value": "#ffffff"
                    },
                    "shape": {
                        "type": "circle",
                        "stroke": {
                            "width": 0,
                            "color": "#000000"
                        },
                        "polygon": {
                            "nb_sides": 5
                        }
                    },
                    "opacity": {
                        "value": 0.5,
                        "random": false,
                        "anim": {
                            "enable": false,
                            "speed": 1,
                            "opacity_min": 0.1,
                            "sync": false
                        }
                    },
                    "size": {
                        "value": 5,
                        "random": true,
                        "anim": {
                            "enable": false,
                            "speed": 40,
                            "size_min": 2,
                            "sync": false
                        }
                    },
                    "line_linked": {
                        "enable": true,
                        "distance": 150,
                        "color": "#ffffff",
                        "opacity": 0.4,
                        "width": 1
                    },
                    "move": {
                        "enable": true,
                        "speed": 3,
                        "direction": "none",
                        "random": false,
                        "straight": false,
                        "out_mode": "out",
                        "bounce": false,
                        "attract": {
                            "enable": false,
                            "rotateX": 600,
                            "rotateY": 1200
                        }
                    }
                }
            });
