doctype html
html(lang="" itemscope itemtype="http://schema.org/Article")
    include layout/head

    body(class='about-page')
        include layout/header

        div(class='main-content pb-5')
            div(class='container')
                h3(class='text-center mt-5 pt-5') PRICING

                p(class='mt-4') #[span(class='font-weight-bold') 90-Day Trial]<br>Unlock your 90-day free trial by logging into the #[span(class='font-weight-bold') Web Portal] for unlimited postings across your web portal and mobile apps during the trial period.
                p #[span(class='font-weight-bold') Super User]<br>Have unlimited postings with a monthly subscription of $22. This also gives users access to the web portal to complement their mobile apps.
                p #[span(class='font-weight-bold') Standard User]<br>It’s free to list yourself and make offers for jobs using a standard account.<br>Get #[span(class='font-weight-bold') 20 free] postings per month. $5.50 for each additional post after that. Mobile apps only.
                p #[span(class='font-weight-bold') Key Jobber ]<br>Stand out from the crowd and be one of the top-searched Jobbers for only $5.50 a month.
                p #[span(class='font-weight-bold') SOS ]is a shout-out for Jobbers to make a priority offer if a Hirer needs to hire someone fast. A $55 SOS charge will be applied to the Hirer per Jobber.
                
        include layout/footer
