doctype html
html(lang="" itemscope itemtype="http://schema.org/Article")
    include layout/head

    body(class='about-page')
        include layout/header

        div(class='main-content pb-5')
            div(class='container')
                h3(class='text-center mt-5 pt-5') PRIVACY POLICY
                div Crew Pond PTY LTD

                h4(class='mt-4 mb-4') 1. We respect your privacy
                p 1.1. Crew Pond respects your right to privacy and is committed to safeguarding the privacy of our customers and software application users. We adhere to the National Privacy Principles established by the <em>Privacy Act</em> 1988 (Cth). This policy sets out how we collect and treat your personal information.
                p 1.2. "Personal information" is information we hold which is identifiable as being about you.

                h4(class='mt-4 mb-4') 2. Collection of personal information
                p 2.1. Crew Pond Pty Ltd will, from time to time, receive and store personal information you enter onto our software application Crew Pond, provide to us directly, or give to us in other forms.
                p 2.2. You may provide basic information such as your name, phone number, address and email address to enable us to send information, provide updates and process your product or service order. We may collect additional information at other times, including but not limited to, when you provide feedback, when you provide information about your personal or business affairs, change your content or email preference, respond to surveys and/or promotions, provide financial or credit card information, or communicate with our customer support.
                p 2.3. Additionally, we may also collect any other information you provide whilst interacting with us.

                h4(class='mt-4 mb-4') 3. How we collect your personal information
                p 3.1. Crew Pond collects personal information from you in a variety of ways, including when you interact with us electronically or in person, when you access our software application and when we provide our services to you. We may receive personal information from third parties. If we do, we will protect it as set out in this Privacy Policy.

                h4(class='mt-4 mb-4') 4. Use of your personal information
                p 4.1. Crew Pond may use personal information collected from you to provide you with information, updates and our services. We may also make you aware of new and additional products, services and opportunities available to you. We may use your personal information to improve our products and services and better understand your needs.
                p 4.2. The Application may make third party social media features available to its users. We cannot ensure the security of any information you choose to make public in a social media feature. Also, we cannot ensure that parties who have access to such publicly available information will respect your privacy.
                p 4.3. Crew Pond may contact you by a variety of measures including, but not limited to telephone, email, sms or mail.

                h4(class='mt-4 mb-4') 5. Disclosure of your personal information
                p 5.1. We may disclose your personal information to any of our employees, officers, insurers, professional advisers, agents, suppliers or subcontractors insofar as reasonably necessary for the purposes set out in this Policy. Personal information is only supplied to a third party when it is required for the delivery of our services.
                p 5.2. We may from time to time need to disclose personal information to comply with a legal requirement, such as a law, regulation, court order, subpoena, warrant, in the course of a legal proceeding or in response to a law enforcement agency request.
                p 5.3. We may also use your personal information to protect the copyright, trademarks, legal rights, property or safety of Crew Pond Pty Ltd, its application, website and customers or third parties.
                p 5.4. Information that we collect may from time to time be stored, processed in or transferred between parties located in countries outside of Australia.  These may include, but are not limited to USA and Ireland.
                p 5.5. If there is a change of control in our business or a sale or transfer of business assets, we reserve the right to transfer to the extent permissible at law our user databases, together with any personal information and non-personal information contained in those databases. This information may be disclosed to a potential purchaser under an agreement to maintain confidentiality. We would seek to only disclose information in good faith and where required by any of the above circumstances.
                p 5.6. By providing us with personal information, you consent to the terms of this Privacy Policy and the types of disclosure covered by this Policy. Where we disclose your personal information to third parties, we will request that the third party follow this Policy regarding handling your personal information.

                h4(class='mt-4 mb-4') 6. Security of your personal information
                p 6.1. Crew Pond is committed to ensuring that the information you provide to us is secure. In order to prevent unauthorised access or disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure information and protect it from misuse, interference, loss and unauthorised access, modification and disclosure.
                p 6.2. The transmission and exchange of information is carried out at your own risk. We cannot guarantee the security of any information that you transmit to us, or receive from us. Although we take measures to safeguard against unauthorised disclosures of information, we cannot assure you that personal information that we collect will not be disclosed in a manner that is inconsistent with this Privacy Policy.

                h4(class='mt-4 mb-4') 7. Access to your personal information
                p 7.1. You may request details of personal information that we hold about you in accordance with the provisions of the <em>Privacy Act</em> 1988(Cth). A small administrative fee may be payable for the provision of information. If you would like a copy of the information which we hold about you or believe that any information we hold on you is inaccurate, out of date, incomplete, irrelevant or misleading, please email us at info@crewpond.com.
                p 7.2. We reserve the right to refuse to provide you with information that we hold about you, in certain circumstances set out in the <em>Privacy Act</em>.

                h4(class='mt-4 mb-4') 8. Complaints about privacy
                p 8.1. If you have any complaints about our privacy practices, please feel free to send in details of your complaints to P.O Box 782 Newtown, Sydney, New South Wales, 2042. We take complaints very seriously and will respond shortly after receiving written notice of your complaint.

                h4(class='mt-4 mb-4') 9. Op out right
                p 9.1. You can easily stop all collection of information by the Application by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at info@crewpond.com.

                h4(class='mt-4 mb-4') 10. Changes to Privacy Policy
                p 10.1. Please be aware that we may change this Privacy Policy in the future. We may modify this Policy at any time, at our sole discretion and all modifications will be effective immediately upon our posting of the modifications on our website or notice board. Please check back from time to time to review our Privacy Policy.

                h4(class='mt-4 mb-4') 11. Software Application
                p 11.1. When you use our Application
                p(class='pl-3') When you come to our application we may collect certain information such as mobile unique device ID, the IP address of your mobile device, mobile operating system, the type of mobile internet browsers you use, and information about the way you use the Application. This information is used in an aggregated manner to analyse how people use our site, such that we can improve our service.
                p 11.2. Cookies
                p(class='pl-3') We may from time to time use cookies on our software application. Cookies are very small files which a website uses to identify you when you come back to the application and to store details about your use of the application. Cookies are not malicious programs that access or damage your computer, tablet or smartphone. Most devices automatically accept cookies but you can choose to reject cookies by changing your device settings. However, this may prevent you from taking full advantage of our application.
                p 11.3. Automatic collection
                p(class='pl-3') The software Application may collect certain information automatically, including, but not limited to, the type of mobile device you use, your mobile device’s unique device ID, the IP address of your mobile device, your mobile operating system, the type of mobile Internet browsers you use, and information about the way you use the Application.
                p 11.4. Third parties
                p(class='pl-3') Our software application may from time to time have links to other applications or websites not owned or controlled by us. These links are meant for your convenience only. Links to third party applications and websites do not constitute sponsorship or endorsement or approval of these third parties. Please be aware that Crew Pond is not responsible for the privacy practises of other such applications or websites. We encourage our users to be aware, when they leave our application or website, to read the privacy statements of each and every application or website that collects personal identifiable information.
                p 11.5. Geo-location
                p(class='pl-3') When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within and display a location map with relevant advertisements. We will not share your current location with other users or partners.

        include layout/footer
