footer
    div(class='container')
        div(class='row mb-4')
            div(class='col-md-3 text-md-center')
                a(class='social-link' href='/terms-conditions') Terms & Conditions
            div(class='col-md-3 text-md-center')
                a(class='social-link' href='/privacy-policy') Privacy Policy
            div(class='col-md-3 text-md-center')
                a(class='social-link' href='/faq') FAQ
            div(class='col-md-3 text-md-center')
                a(class='social-link' href='/pricing') Pricing
        div(class='row align-items-center')
            div(class='col-md-6 text-center text-md-left')
                div(class='text-content')
                    h5 Available on App Store and Google play
                    div(class='text') When You Need Reliable Staff At Your Fingertips...
            div(class='col-md-6 text-center text-md-right')
                a(class='app-link' href='https://apps.apple.com/au/app/crew-pond/id1494073832' target='_blank')
                    img(src='/static/images/landing-page/app-store.png' alt='')
                a(class='app-link' href='https://play.google.com/store/apps/details?id=com.zapstars.crewpond' target='_blank')
                    img(src='/static/images/landing-page/google-play.png' alt='')
        div(class='row')
            div(class='col-12 text-center text-md-left')
                h5 Contact:
                a(class='social-link' href='https://www.facebook.com/crewpondapp/' target='_blank')
                    i(class='fa fa-facebook-square')
                a(class='social-link' href='https://www.youtube.com/channel/UCT1a7D-O22MVtexvmaH9IlQ/featured' target='_blank')
                    i(class='fa fa-youtube-play')
                a(class='social-link' href='https://www.instagram.com/crewpondapp/' target='_blank')
                    i(class='fa fa-instagram')
                a(class='social-link' href='https://www.linkedin.com/company/crew-pond/' target='_blank')
                    i(class='fa fa-linkedin-square')
                a(class='social-link' href='mailto:jumpin@crewpond.com')
                    i(class='fa fa-envelope-o')
                    span(class='small') jumpin@crewpond.com
        div(class='row')
            div(class='col-12 license')
                span Crew Pond Pty Ltd. 2018-2023©, All rights reserved
