$primary:     #10547F;
$green:       #00dd8c;
$dark-green:  #01c57d;
$cyan:        #E0F6FF;
$cyan-2:      #F5FCFF;
$white:       #FFFFFF;
$dark-white:  #EEEEEE;
$grey:        #80868b;
$grey-2:      #7A9CB1;
$warning:     #FFA800;

$gray-100:                        #f0f3f5;
$gray-200:                        #c2cfd6;
$gray-300:                        #a4b7c1;
$gray-400:                        #869fac;
$gray-500:                        #678898;
$gray-600:                        #536c79;
$gray-700:                        #3e515b;
$gray-800:                        #29363d;
$gray-900:                        #151b1e;

$secondary:     #2875C7;
$dkSecondary:   darken($secondary,10%);
$ltSecondary:   lighten($secondary,45%);

