@import "variables";
@import "font";
@import "landing";
@import "components/nav";
@import "components/modal";
@import "components/pages";
@import "components/upload";
@import "components/cards";
@import "components/select";
@import "components/editable";
@import "components/loader";
@import "components/forms";
@import "components/calendar";
@import "components/job";
@import "components/timepicker";
@import "components/score";
@import "components/schedule";

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
  min-height: 100vh;
  background-color: $cyan-2 !important;
  color: $primary !important;
  font-family: "Avenir Next Cyr", serif;
  font-weight: 500;
  margin: 0;
  .badge-count {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: #c5513a;
    color: white;
    font-size: 10px;
  }
  a {
    color: $primary;
    text-decoration: none !important;
  }
  img {
    width: 100%;
  }
  textarea {
    &.auto-expand {
      resize: none;
      overflow: hidden;
    }
    &.form-control {
      border: 1px solid $primary;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
    }
  }
  .btn {
    border-radius: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 8px 30px;
    letter-spacing: 1px;
    font-weight: 500;

    @media screen and (max-width: 768px) {
      padding: 8px 20px;
    }

    &.btn-success {
      background: $green;
      color: white;
      border: 1px solid $green;

      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        background: $dark-green;
        border-color: $dark-green;
      }
    }
    &.btn-outline-success {
      height: 40px;
      background: white;
      color: $green;
      border: 1px solid $green;

      &:hover, &:not(:disabled):not(.disabled).active, &:not(:disabled):not(.disabled):active {
        background: $dark-white;
        border-color: $dark-green;
      }
    }
    &.btn-default {
      background: white;
      color: $green;

      &:hover {
        color: $primary;
      }
    }
    &.btn-block {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
    }
    &.btn-icon {
      display: flex;
      width: 35px;
      height: 35px;
      padding: 5px;
      justify-content: center;
    }
    &.btn-sm {
      line-height: 1;
    }
    &.disabled, &:disabled {
      background: $grey !important;
      border: none;
      opacity: 0.2;
    }
    &.btn-transparent {
      background: transparent;
      border: 1px solid $green;
      color: $green;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;

      &:hover {
        border-color: $primary;
        color: $primary;
      }
    }
    &.btn-facebook {
      display: flex;
      align-items: center;
      background: $white;
      color: $primary;
      letter-spacing: normal;
      margin: 30px auto 0 auto;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;

      .fa-facebook {
        min-width: 24px;
        height: 24px;
        background: $primary;
        color: $white;
        border-radius: 50%;
        padding-top: 5px;
        margin-right: 10px;
      }
    }
  }
  .card {
    border: none;
    border-radius: 20px;
    box-shadow: 3px 5px 9px rgba(0,0,0,0.08);
    -webkit-box-shadow: 3px 5px 9px rgba(0,0,0,0.08);
    -moz-box-shadow: 3px 5px 9px rgba(0,0,0,0.08);
    -o-box-shadow: 3px 5px 9px rgba(0,0,0,0.08);

    .card-header {
      padding: 0 0 15px 0;
      background: transparent;
      border: none;
    }
    .card-footer {
      background: transparent;
      border: none;
    }
  }
  .form-control {
    border-radius: 20px;
    border: none;
    color: $primary;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    -o-box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    padding: 8px 20px;
  }
  input, textarea, .date-picker {
    &.dark-input, &.dark-input:focus {
      border: none;
      background: #e7eef2;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
    }
    &.sm-input {
      height: 28px;
      width: 150px;
      max-width: 170px;
      padding: 5px 12px;
      font-size: 13px;
      @media screen and (max-width: 380px) {
        width: 70px;
        max-width: 80px;
        input {
          width: 50px;
          max-width: 60px;
        }
      }
      &:focus {
        border-color: #80bdff;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        -moz-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        -o-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
      }
    }
  }
  .input-group {
    .input-group-prepend {
      align-items: center;
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      bottom: 0;
      width: 40px;
      justify-content: center;

      img {
        width: 30px;
      }
    }
    > .form-control:not(:first-child) {
      padding-left: 40px;
      border-radius: 20px;
    }
  }
  .col-primary {
    color: $primary;
  }
  .col-green, .link-green {
    color: $green;
  }
  .link-green {
    cursor: pointer;
  }
  .border-primary {
    border: 1px solid $primary;
  }
  .border-green {
    border: 1px solid $green;
  }
  .react-datepicker-popper {
    z-index: 1001;
  }
  .scroller {
    position: absolute;
    top: 15px;
    bottom: 15px;
    right: 15px;
    width: 8px;

    .scroll {
      position: absolute;
      left: 0;
      width: 8px;
      background: #ccc;
      border-radius: 4px;
      z-index: 2;
    }
  }
  .custom-checkbox {
    input[type='checkbox'] {
      display: none;
    }
    .checkbox-inner {
      -webkit-user-select: none;
      user-select: none;
      cursor: pointer;

      span {
        display: inline-block;
        vertical-align: middle;
        transform: translate3d(0,0,0);

        &:first-child {
          position: relative;
          width: 18px;
          height: 18px;
          border-radius: 3px;
          transform: scale(1);
          vertical-align: middle;
          border: 1px solid #9098A9;
          transition: all .2s ease;
          margin-right: 8px;

          svg {
            position: absolute;
            top: 3px;
            left: 2px;
            fill: none;
            stroke: $primary;
            stroke-width: 2;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-dasharray: 16px;
            stroke-dashoffset: 16px;
            transition: all .3s ease;
            transition-delay: .1s;
            transform: translate3d(0,0,0);
          }
          &:before {
            content: "";
            width: 100%;
            height: 100%;
            background: $green;
            display: block;
            transform: scale(0);
            opacity: 1;
            border-radius: 50%;
          }
        }
      }
    }
    input[type='checkbox']:checked + .checkbox-inner {
      span {
        &:first-child {
          background: $green;
          border-color: $green;
          animation: wave .4s ease;

          svg {
            stroke-dashoffset: 0;
          }
          &:before {
            transform: scale(3.5);
            opacity: 0;
            transition: all .6s ease;
          }
        }
      }
    }
    &.circle {
      .checkbox-inner span:first-child {
        border-radius: 50%;
      }
    }
    &.transparent {
      .checkbox-inner span:first-child {
        border-color: $green;

        svg {
          stroke: $green;
        }
      }
      input[type='checkbox']:checked + .checkbox-inner span:first-child {
        background: transparent;
      }
    }
  }
  .custom-radio {
    position: relative;

    input[type="radio"] {
      display: none;

      &:checked ~ label {
        color: $primary;
      }

      &:checked ~ .check {
        border-color: $primary;
      }

      &:checked ~ .check::before {
        background: $primary;
      }
    }

    label {
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin: 0;
      padding-left: 30px;
      color: $primary;
      cursor: pointer;
      z-index: 1;
    }

    .check {
      position: absolute;
      border: 1px solid $primary;
      border-radius: 50%;
      height: 18px;
      width: 18px;
      top: 5px;
      left: 5px;

      &::before {
        content: '';
        position: absolute;
        border-radius: 50%;
        height: 10px;
        width: 10px;
        top: 3px;
        left: 3px;
        margin: auto;
      }
    }
  }
  .Toastify__toast {
    padding: 15px;
    border-radius: 10px;
    .Toastify__progress-bar {
      left: 10px;
      width: calc(100% - 20px);
    }
  }
  .badge {
    color: $white;
    padding: 3px 10px;
    border-radius: 30px;
    font-weight: 400;
    @media screen and (max-width: 768px) {
      font-size: 60%;
    }

    &.badge-green {
      background: $green;
    }
    &.badge-dark {
      background: $primary;
    }
    &.badge-grey {
      background: #C4C4C4;
    }
    &.badge-danger {
      background: #EB5757;
    }
  }
  .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 990;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(16, 84, 127, 0.5);;
    }
  }
  .avatar {
    width: 40px;
    height: 40px;
    border: 2px solid $green;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;

    &.no-border {
      border: none;
        img {
          border: none;
      }
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .gradient-background {
    background-image: linear-gradient(to bottom, #258db6 0%, #10547f 100%);
  }
  .slider {
    position: fixed;
    top: 66px;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 990;

    .slider-content {
      position: relative;
      max-width: 800px;
      height: 100%;
      background: white;
      border-radius: 15px 0 0 15px;
      z-index: 991;
      overflow: auto;
      opacity: 0;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      -webkit-transition: opacity 150ms linear,-webkit-transform 400ms;
      transition: opacity 150ms linear,transform 400ms;
      will-change: transform;
      @media screen and (max-width: 768px) {
        border-radius: 0;
      }

      .slider-close {
        position: absolute;
        top: 20px;
        left: 5%;
        font-size: 150%;
        @media screen and (max-width: 768px) {
          display: none;
        }
      }
      .slider-content-inner {
        padding: 20px 5%;

        .slider-header {
          display: flex;
          height: 35px;
          align-items: center;
          padding-left: 40px;
          @media screen and (max-width: 768px) {
            padding: 0;
          }

          .action {
            margin-left: auto;
            .download-csv {
              width: 20px;
              margin: 5px;
              cursor: pointer;
            }

            .print {
              width: 20px;
              margin: 5px;
              cursor: pointer;
            }
          }
        }
      }
    }
    &.fixed-right {
      .slider-content {
        margin-left: auto;
      }
    }
  }
  .score {
    font-size: 90%;
    line-height: 1;
    color: $grey-2;
    @media screen and (max-width: 768px) {
      font-size: 70%;
    }

    i {
      color: $green;

      & + i {
        margin-left: 10px;
        @media screen and (max-width: 768px) {
          margin-left: 5px;
        }
      }
    }
  }
  .category {
    font-size: 80%;
    @media screen and (max-width: 768px) {
      font-size: 60%;
    }

    span:first-child {
      opacity: 0.5;
    }
    span:last-child {
      color: $green;
    }
  }
  .description {
    font-size: 90%;
    @media screen and (max-width: 768px) {
      font-size: 70%;
    }
  }
  .flex-wrapper {
    display: flex;
    align-items: flex-start;

    .right-wrapper {
      margin-left: auto;
    }
  }
  .input-with-icon {
    display: flex;

    img {
      width: 15px;
      margin: 0 10px;
    }
  }
  .notification-row {
    display: flex;
    padding: 15px;
    cursor: pointer;

    .detail {
      flex: 1;
      max-width: calc(100% - 55px);
    }

    .heading {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sender {
        color: $green;
        max-width: calc(100% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .sent-at {
        font-size: 90%;
        @media screen and (max-width: 768px) {
          font-size: 70%;
        }
      }
    }

    + .notification-row {
      border-top: 1px solid $grey;
    }
  }
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #10547f !important;
  opacity: 0.2780134 !important; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #10547f !important;
  opacity: 0.2780134 !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: #10547f !important;
  opacity: 0.2780134 !important;
}
@-moz-keyframes wave {
  50% {
    -moz-transform: scale(.9);
    transform: scale(.9);
  }
}
@-webkit-keyframes wave {
  50% {
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }
}
@keyframes wave {
  50% {
    -moz-transform: scale(.9);
    -ms-transform: scale(.9);
    -webkit-transform: scale(.9);
    transform: scale(.9);
  }


}
