.job-form-card {
  padding: 30px;

  @media screen and (max-width: 768px) {
    padding: 10px;
  }

  .card-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .upload-widget {
      margin-bottom: 15px;
    }
    .primary-info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: calc(100% - 100px);
      min-width: 180px;
      padding: 0 15px;
      margin-bottom: 15px;

      .info-item {
        display: flex;
        width: 50%;
        min-width: 150px;
        justify-content: center;
        margin-bottom: 5px;

        img {
          width: auto;
          margin-right: 14px;
        }
        .price {
          display: block;
          height: 28px;
          width: 120px;
          background: #e7eef2;
          border-radius: 30px;
          padding: 4px 12px;
          font-size: 13px;
        }
      }
    }
  }
  
  .card-body {
    .section-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      h4 {
        margin-bottom: 0;
        margin-right: 25px;
      }
    }
  }
}


.schedule-list {
  padding: 5px 0;

  .schedule {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 0;

    .name {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        margin-right: 20px;
      }
    }
    .date-action {
      margin-left: auto;

      span {
        margin-right: 30px;
      }
      i {
        cursor: pointer;
      }
    }
  }
}

.schedule-card {
  padding: 10px;
}
