.review-panel {
    display: flex;
    flex: 1;
    align-items: flex-start;
    margin: 10px;
    flex-direction: column;
    .review-star-panel {
        .start-rate {
            margin-left: 3px;
        }    
    }
    .review-comment-panel {
        font-size: 20px;
        color: $crew-font-color;
    }
}
