.modal-dialog {
    @media (max-width: 575px)  {
        margin: .5rem .75rem;
    }

    .modal-dialog-header {
        display: flex;
        justify-content: flex-end;


        .close-action {
            position: absolute;
            background-color: $white;
            cursor: pointer;
            z-index: 1000;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            padding: 7px;
            margin-left: 10px;
            margin-top: -10px;
            box-shadow: 0 5px 10px #aaaaaa;
            -webkit-box-shadow: 0 5px 10px #aaaaaa;
            -moz-box-shadow: 0 5px 10px #aaaaaa;
            -o-box-shadow: 0 5px 10px #aaaaaa;
        }
    }
    .modal-body {
        overflow: auto;

        .chat-name {
            border: 1px solid $gray-700;
            box-shadow: none;
        }
    }
}
