<div style="max-width: 360px;margin: auto">
    <div style="text-align: center;padding: 10px;">
        <img src="http://crewpond.com/static/images/email_logo.gif">
    </div>
    <div style="padding: 10px;text-align: justify;">
        <p style="font-family: helvetica, arial, sans-serif;">Thank you for signing up for Crew Pond! Click the link below to confirm your address and get started.</p>
        <p style="font-family: helvetica, arial, sans-serif;">You may need to move this email to your inbox to activate the link if this email went to your spam or junk mail.</p>
        <br>
        <p style="font-family: helvetica, arial, sans-serif;">
            <a href={{confirmation_url}}>CONFIRM EMAIL</a>
        </p>
        <br>
    </div>
</div>
